let target = adw::PropertyAnimationTarget::new(&widget, "progress");
{{if use_damping}}
let params = adw::SpringParams::new_full({{damping}}, {{mass}}, {{stiffness}});
{{else}}
let params = adw::SpringParams::new({{damping_ratio}}, {{mass}}, {{stiffness}});
{{endif}}
let animation = adw::SpringAnimation::new(&widget, 0.0, 1.0, params, target);

{{if has_epsilon}}
animation.set_epsilon({{epsilon}});
{{endif}}
{{if has_velocity}}
animation.set_initial_velocity({{velocity}});
{{endif}}