var target = new Adw.PropertyAnimationTarget (widget, "progress");
{{if use_damping}}
var params = new Adw.SpringParams.full ({{damping}}, {{mass}}, {{stiffness}});
{{else}}
var params = new Adw.SpringParams ({{damping_ratio}}, {{mass}}, {{stiffness}});
{{endif}}
{{if has_epsilon || has_velocity}}
var animation = new Adw.SpringAnimation (widget, 0.0, 1.0, params, target) {
{{if has_epsilon && has_velocity}}
    epsilon = {{epsilon}},
    initial_velocity = {{velocity}}
{{else if has_epsilon}}
    epsilon = {{epsilon}}
{{else}}
    initial_velocity = {{velocity}}
{{endif}}
};
{{else}}
var animation = new Adw.SpringAnimation (widget, 0.0, 1.0, params, target);
{{endif}}