:root {
  --card-border: var(--card-shade-color);
}

.card-separator {
  background: var(--card-border);
}

.circular-large {
  min-width: 50px;
  min-height: 50px;
  padding: 0;
  border-radius: 100px;
  -gtk-icon-size: 24px;
}

transforms-view {
  padding: 20px 0;
}

transforms-view transform-bin {
  min-width: 120px;
  min-height: 120px;
  filter: drop-shadow(0 2px 2px rgb(0 0 0 / 20%));
}

transforms-view .htranslate,
transforms-view .vtranslate,
transforms-view .scale {
  min-width: 30px;
  min-height: 30px;
  border-radius: 24px;
  background: #33d17a;
}

transforms-view .scale {
  background: linear-gradient(to bottom, var(--blue-2), var(--blue-4));
}

transforms-view .htranslate {
  background: linear-gradient(to bottom, var(--green-2), var(--green-5));
}

transforms-view .vtranslate {
  background: linear-gradient(to bottom, var(--yellow-2), var(--yellow-5));
}

transforms-view .rotate {
  min-width: 54px;
  min-height: 90px;
  border-radius: 12px;
  background: linear-gradient(to bottom, var(--red-1), var(--red-3));
}

interactive-view .handle {
  min-width: 96px;
  min-height: 96px;
  border-radius: 48px;
  background: linear-gradient(to bottom, var(--red-1), var(--red-3));
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
  color: white;
}

graph-view {
  border-bottom: 1px solid var(--card-border);
}

properties-view property-row {
  /* The shadow from both widgets overlaps each other */
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--card-border), transparent);
  border-radius: 0;
  padding: 0;
}

export-view textview.inline,
export-view textview.inline text {
  background: none;
}

export-view .copy-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 9px;
  outline-offset: 5px;
}

export-view .copy-button:hover {
  background-color: color-mix(in srgb, currentColor 3%, transparent);
}

export-view .copy-button:active,
export-view .copy-button.keyboard-activating {
  background-color: color-mix(in srgb, currentColor 8%, transparent);
}

export-view .copy-button:focus:focus-visible {
  outline-offset: -1px;
}
